.menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .menu {
        align-items: flex-start;
        text-align: left;
        width: 254px;
    }
}

@media screen and (min-width: 1440px) {
    .menu {
        flex-direction: row;
        justify-content: space-between;
        width: 464px;
    }
}