.cabecalho {
    align-items: center;
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

@media screen and (min-width: 768px) {
    .cabecalho {
        padding: 1rem 2rem;
    }

    .cabecalho--sem-botao {
        justify-content: flex-start;
    }
}

@media screen and (min-width: 1440px) {
    .cabecalho {
        padding: 2rem 9.5rem;
    }
}