.banner__botao {
    left: 1rem;
    position: absolute;
    top: 8.5rem;
}

@media screen and (min-width: 768px) {
    .banner__botao {
        left: 2rem;
        top: 17.5rem;
    }
}

@media screen and (min-width: 1440px) {
    .banner__botao {
        left: 9.5rem;
        top: 16.8125rem;
    }
}