:root {
    --bg-branco: #F5F5F5;
    --bg-azul: #EAF2FD;
    --link-azul: #2A7AE4;
    --texto-padrao: #464646;
    --branco: #FFFFFF;
    
    --font-padrao: 'Raleway', sans-serif;
}

body {
    color: var(--texto-padrao);
    font-family: var(--font-padrao);
    background-color: #E5E5E5;
}